.time {
  text-align: center;
  font-family: cursive;
}

.curTime {
  text-align: center;
  font-family: cursive;
  margin-top: 150px;
}

button {
  text-align: center;
  color: white;
  background-color: purple;
  height: 30px;
  width: 90px;
  margin-left: 775px;
}
